.App {
    display: grid;
    height: 100vh;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: auto;
    row-gap: 1em;
    grid-template-areas: 
        ". NavBar  ."
        ". NewsLetter."
        ". Services ."
        ". Tests ."
        ". Contacts ."
        ". Footer . "; 
}

.NavBar{
    grid-area: NavBar;
    background-color: darkgray;
    align-self: center;
    height: 100px;
    text-align: center;
 }

.NewsLetter{
    grid-area: NewsLetter;
    align-self: center;
}

.Services{
    grid-area: Services;
    align-self: center;
}

.Tests{
    grid-area: Tests;
    align-self: center;
}

.Contacts{
    grid-area: Contacts;
    align-self: center;
}

.Footer{
    grid-area: Footer; 
    background-color: darkgray;
    align-self: center;
    height: 100px;
    text-align: center;
    margin-bottom: 5px;
}

/* Media Queries For Responsive Layout*/

/* Tablet */

@media (min-width: 580px) and (max-width: 799px) {
    .App {
        grid-template-columns: 10px 1fr 1fr 10px;
        grid-template-rows: auto;
        column-gap: 1em;
        grid-template-areas: 
            ". NavBar NavBar ."
            ". NewsLetter Services."
            ". Tests Contacts ."
            ". Footer Footer . "; 
    }
  }

/* Desktop */

@media (min-width: 800px) and (max-width: 2000px) {
    .App {
        grid-template-columns: 5px 1fr 1fr 1fr 1fr 5px;
        grid-template-rows: auto;
        column-gap: 1em;
        grid-template-areas: 
            ". NavBar NavBar NavBar NavBar  ."
            ". NewsLetter Services Tests Contacts ."
            ". Footer Footer Footer Footer . "; 
    }
  }