body {
    background-color: RGB(70, 143, 175);
}


.App {
    display: grid;
    height: 100vh;
    width: 99vw;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 100px auto auto auto auto 100px;
    row-gap: 1em;
    grid-template-areas:
        ". NavBar  ."
        ". NewsLetter."
        ". Services ."
        ". Tests ."
        ". Contacts ."
        ". Footer . ";
}

.NavBar {
    grid-area: NavBar;
    background-color: RGB(1, 42, 74);
    align-self: center;
    height: 100px;
    text-align: center;
}

.NewsLetter {
    grid-area: NewsLetter;
}

.Services {
    grid-area: Services;
}

.Tests {
    grid-area: Tests;
}

.Contacts {
    grid-area: Contacts;
}

.Footer {
    grid-area: Footer;
    background-color: RGB(70, 143, 175);
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.card {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: RGB(169, 214, 229);
}

.cardMedia {
    border-radius: 2%;
}

.link {
    text-decoration: none;
    color: inherit;
}


/* Media Queries For Responsive Layout*/

/* Tablet */

@media (min-width: 580px) and (max-width: 799px) {
    .App {
        height: 100vh;
        width: 99vw;
        grid-template-columns: 3px 1fr 1fr 3px;
        grid-template-rows: 100px auto auto 100px;
        column-gap: 1em;
        column-gap: .5em;
        grid-template-areas:
            ". NavBar NavBar ."
            ". NewsLetter Services."
            ". Tests Contacts ."
            ". Footer Footer . ";
    }

}

/* Desktop */

@media (min-width: 800px) and (max-width: 2000px) {
    .App {

        grid-template-columns: 3px 1fr 1fr 1fr 1fr 3px;
        grid-template-rows: 100px auto 100px;
        column-gap: .5em;
        grid-template-areas:
            ". NavBar NavBar NavBar NavBar  ."
            ". NewsLetter Services Tests Contacts ."
            ". Footer Footer Footer Footer . ";
    }

}