.App {
    display: grid;
    grid-template-columns: 20px Auto 20px;
    grid-template-rows: auto;
    row-gap: 1em;
    grid-template-areas: 
        ". NavBar  ."
        ". NewsLetter."
        ". Services ."
        ". Tests ."
        ". Contacts ."
        ". Footer . "; 
}

.NavBar{
    grid-area: NavBar;
    background-color: darkgray;
    align-self: center;
    height: 100px;
    text-align: center;
 }

.NewsLetter{
    grid-area: NewsLetter;
    align-self: center;
}

.Services{
    grid-area: Services;
    align-self: center;
}

.Tests{
    grid-area: Tests;
    align-self: center;
}

.Contacts{
    grid-area: Contacts;
    align-self: center;
}

.Footer{
    grid-area: Footer; 
    background-color: darkgray;
    align-self: center;
    height: 100px;
    text-align: center;
}

/* Media Queries For Responsive Layout*/

/* Tablet */

@media only screen and (min-width: 550px) {
    .App {
        grid-template-columns: 20px Auto Auto 20px;
        grid-template-rows: auto;
        column-gap: 1em;
        grid-template-areas: 
            ". NavBar NavBar ."
            ". NewsLetter Services."
            ". Tests Contacts ."
            ". Footer Footer . "; 
    }
  }

/* Desktop */
@media only screen and (min-width: 800px) {
    .App {
        grid-template-columns: 20px Auto Auto Auto Auto 20px;
        grid-template-rows: auto;
        column-gap: 1em;
        grid-template-areas: 
            ". NavBar NavBar NavBar NavBar  ."
            ". NewsLetter Services Tests Contacts ."
            ". Footer Footer Footer Footer . "; 
    }
  }